<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd/MM/YYYY HH:mm:ss} %-5level %logger{36} - %msg%n" />
		</Console>
		
		<RandomAccessFile name="File" FileName="${sys:rootPath}logs/webomt.log" append="false">
			<PatternLayout pattern="%d{dd/MM/YYYY HH:mm:ss} %-5level %logger{36} - %msg%n" />
		</RandomAccessFile>		
		
	</appenders>
	
	<loggers>

		<root level="error">
			<appender-ref ref="File" />
		</root>
		
	</loggers>
	
	
</configuration>
